 <div class="post-card">
  <div class="post-container">
            <h4><b>{{title}} by {{user.username}}</b></h4>
            <p>{{content}}</p>
           </div>
           </div>




{{!-- 
      <div class="form-section">
            <form class="comment-form">
                <div class="comment-title-section">
                    <label for="comment">comment</label>
                    <input type="text" id="comment_text" name="comment_text" />
                </div>
                <div class="post_id">
                   <input type="hidden" id="post_id">
                </div>
                <button type="submit" class="btn" id="submit">Submit</button>
            </form>
        </div>
    </div>
</div> --}}
    {{!-- <form class="comment-form">
        <div>
            <label for="coment">comment</label>
            <input type="text" id="comment_text" />
            <input type="hidden" id="post_id">
        </div>
      
        <div>
             <button type="submit" class="btn" id="submit">Add Comment</button>
        </div>
    </form>
</div> --}}

