<section class="profile-card">
  <div class=>
    <form id="bio-form">
      <h3>Edit Profile Info</h3>
      <div>
        <label for="bio-info">Bio:</label>
        <input type="text" id="bio-info" />
      </div>
      <div>
        <label for="name-info">Name:</label>
        <input type="text" id="name-info" />
      </div>
      <div>
        <label for="title-info">Title:</label>
        <input type="text" id="title-info" />
      </div>
      <div>
        <label for="main-info">Main Languages:</label>
        <input type="text" id="main-info" />
      </div>
      <div>
        <label for="to-learn-info">To Learn Languages:</label>
        <input type="text" id="to-learn-info" />
      </div>
      <div>
        <button type="submit">Add Info</button>
      </div>
    </form>
  </div>
</section>

<script src="/javascript/edit-profile.js"></script>
