<section class="main-card">
    <div class="about">
        <h3 class="med-title">About</h3>
        <div class="about-contents">
            Good morning. 
            In less than an hour, aircraft from here will join others from around the world. 
            And you will be launching the largest aerial battle in the history of mankind. 
            "Mankind." That word should have new meaning for all of us today. 
            We can't be consumed by our petty differences anymore. 
            We will be united in our common interests. 
            Perhaps it's fate that today is the Fourth of July, and you will once again be fighting for our freedom... 
            Not from tyranny, oppression, or persecution... but from annihilation. 
            We are fighting for our right to live. To exist. 
            And should we win the day, the Fourth of July will no longer be known as an American holiday, 
            but as the day the world declared in one voice: 
            "We will not go quietly into the night!" We will not vanish without a fight! We're going to live on! 
            We're going to survive! Today we celebrate our Independence Day!
        </div>
    </div>
    <div class="login"> 
        <h3 class="med-title">Login</h3>
        <form>
            <div class="form-group">
                <label for="email-login">Email</label>
                <input id="email-login"/>
            </div>
            <div class="form-group">
                <label for="password-login">Password</label>
                <input id="password-login"/>
            </div>
            <div>
              <button type="submit">login</button>
            </div>
        </form>
    </div>
    <div class="signup">
        <h3 class="med-title">Sign up</h3>
        <form>
            <div class="form-group">
                <label for="email-signup">Email</label>
                <input id="email-signup"/>
            </div>
            <div class="form-group">
                <label for="password-signup">Password</label>
                <input id="password-signup"/>
            </div>
            <div>
              <button type="submit">signup</button>
            </div>
        </form>
    </div>
</section>