<section class="main-card">
    <div class="about">
        <h3 class="med-title">About</h3>
        <div class="about-contents">
            <p>Welcome to Nerd Talk! If you've come here to learn a new programming language or
            share yours with others, you're in the right place. Our mission is to help others 
            help each other in their quest to further their hobby or career in programming. </p>
            <p>Whether you want to learn to code for security, web design, servers, or complex functions, there 
            is an expert out there that might want to help out. Sign up today to learn more and help 
            others understand the world of coding today!
            </p>
        </div>
    </div>
    <div class="login"> 
        <h3 class="med-title">Login</h3>
        <form>
            <div class="form-group">
                <label for="email-login">Email</label>
                <input id="email-login"/>
            </div>
            <div class="form-group">
                <label for="password-login">Password</label>
                <input id="password-login"/>
            </div>
            <div>
              <button type="submit">login</button>
            </div>
        </form>
    </div>
    <div class="signup">
        <h3 class="med-title">Sign up</h3>
        <form>
            <div class="form-group">
                <label for="email-signup">Email</label>
                <input id="email-signup"/>
            </div>
            <div class="form-group">
                <label for="password-signup">Password</label>
                <input id="password-signup"/>
            </div>
            <div>
              <button type="submit">signup</button>
            </div>
        </form>
    </div>
</section>