<section class="profile-card">
    <div class="user-about">
        {{user.about}}
    </div>
    <div class="user-details">
        <div class="main-languages">
            {{user.mainLanguages}}
        </div>
        <div class="to-learn-languages">
            {{user.learning}}
        </div>
        <div class="reports">
            {{user.repots}}
        </div>
    </div>
</section>

<script src="./"></script>