<section class="profile-card">

    <h1 class="profile-card">Profile Page</h1>

   
</section>

{{!-- <script src="/models/Profile.js"></script> --}}
<script src="/javascript/show-profile.js"></script> 

<script src="../backgrounds/imageArray.js"></script>



