* {
    box-sizing: border-box;
}

:root {
    --maincolor:rgb(31, 31, 31);
    --secondary:rgb(75, 200, 75);
    --tertiary:rgb(209, 209, 209);
}


header ul {
    width:100%;
}

.rightOriented {
    left:75%;
}

 body {
    background-image: url('../backgrounds/cityScape.png');
} 
  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

input {
    width: 50%;
  }

a {
    text-decoration: none;
    color: #225ca3;
    font-weight: bold;
    transition: color .1s;
}
  
a:hover {
    color: #3486eb;
}
  
button {
    background-color: #225ca3;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

.post-interact a{
    color: gray;
}
button:hover {
    background-color: #3486eb;
}
  
.post-list {
    margin: 0;
    padding: 0;
}
  
textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
}
  
textarea {
    min-width: 40%;
    min-height: 100px;
}
  
form > div {
    margin-bottom: 2%;
}
  
form label {
    display: block;
}
  
.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
  
header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color:var(--tertiary);
}
  
header h1 {
    font-size: 1em;
}
  
main {
    flex: 1;
    padding: 2% 4%;
}
  
.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}
  
.btn-no-style:hover {
    background: none;
    color: #3486eb;
}
  
.delete-post-btn {
    background-color: #d41414;
}
  
.delete-post-btn:hover {
    background-color: #ff643d;
}
  
.post {
    margin-bottom: 10px;
    line-height: 150%;
}
  
.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}
  
.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}
  
.upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
}
  
.upvote-btn:hover {
    background-color: #1f9c13;
}
  
.comment-form {
    margin-bottom: 5%;
}
  
.comment {
    padding: 1%;
    margin-bottom: 1%;
}
  
.comment:nth-child(odd) {
    background-color: #fff5eb;
}
  
.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}
  
.new-post-form input {
    width: 300px;
}
  
.edit-post-form {
    margin-bottom: 5%;
}
/*start of homepage css */
.main-card {
    display:flex;
    justify-content: space-between;
    flex-wrap:nowrap;
}

.about, .login, .signup {
    width:30%;
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color: var(--secondary);
    border-radius: 5px;
}

.about h3, .login h3, .signup h3 {
    width:100%;
    background-color: var(--tertiary);
    height:30px;
    border-top-style:groove;
    border-bottom-style:groove;
    border-radius:2px;
}

.login form, .signup form {
    width:75%;
    align-self:center;
    box-shadow: inset 2ch 1ch 0.5ch hsla(0, 0%, 47%, 0.295),
    inset -2ch -1ch 0.5ch hsla(0, 0%, 47%, 0.295);
}

.about .about-contents {
    padding: 10px;
    box-shadow: inset 2ch 1ch 0.5ch hsla(0, 0%, 47%, 0.295),
    inset -2ch -1ch 0.5ch hsla(0, 0%, 47%, 0.295);
}

/*end of homepage css */
/*start of login css*/

.main-card-2 {
    display:flex;
    padding:70px;
    justify-content:space-between;
}

.login-form, .signup-form {
    background-color:var(--secondary);
    text-align:center;
    width: 40%;
    border-radius:5px;
    box-shadow: inset 2ch 1ch 0.5ch hsla(0, 0%, 47%, 0.295),
    inset -2ch -1ch 0.5ch hsla(0, 0%, 47%, 0.295);
}

.login-form h3, .signup-form h3 {
    width:100%;
    background-color: var(--tertiary);
    height:30px;
    border-top-style:groove;
    border-bottom-style:groove;
    border-radius:2px;
}

/*end of login css*/
/*start of posts css*/

.post-card {
    background-color:var(--secondary);
    margin: 10px;
    border-radius:5px;
    height:120px;
    display:flex;
    flex-direction:column;
    padding:10px;
    width:40%;
    box-shadow: inset 2ch 1ch 0.5ch hsla(0, 0%, 47%, 0.295),
    inset -2ch -1ch 0.5ch hsla(0, 0%, 47%, 0.295);
}



.post-container {
    background-color:var(--tertiary);
    border:2px solid black;
    width: 70%;
    align-self:center;
    border-radius:5px;
    min-height:60px;
    padding:5px;
}


/*end of posts css*/
/*start of profile css*/

.profile-card {
    background-color:var(--secondary);
    border-radius:5px;
    padding:10px;
}

/*end of profile css*/
  
footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}

/* .post-content {
    background-color:var(--tertiary);
    border:2px solid black;
    width:80%;
    align-self:center;
    border-radius:5px;
    min-height:60px;
    padding:5px;
} */
.comment-card {
    border: 1px solid black;
    align-content: right;
}

